# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/

# Node / Expo / React Native
node_modules/
.expo/
.expo-shared/
web-build/
dist/
.tmp_export*/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Misc
*.tmp